<?xml version="1.0" encoding="UTF-8" ?>
<widget id      = "com.phonegap.example"
    versionCode = "10"
    version     = "0.0.7" >

<!-- versionCode is optional and Android only -->

  <name>Libraries</name>

  <description>
     Open source library management tool.
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      Hardeep Shoker
  </author>

</widget>
